modules = ["rust"]

[nix]
channel = "stable-24_05"
packages = ["rustup", "rustc", "cargo", "alsa-lib", "pkg-config", "zip"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "RustSynthBuilder"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "BuildMLFramework"

[[workflows.workflow]]
name = "RustSynthBuilder"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cargo build"

[[workflows.workflow]]
name = "BuildMLFramework"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cargo build --release"

[deployment]
run = ["sh", "-c", "bash -c \"which cargo && cargo build\""]
