[project]
name = "repl-nix-workspace"
version = "0.1.0"
description = "Add your description here"
requires-python = ">=3.11"
dependencies = [
    "anthropic>=0.54.0",
    "flask>=3.1.1",
    "openai>=1.88.0",
    "requests>=2.32.4",
]
